{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<div class='hometop'>
	<h1>Malte Heckelen</h1>
	<header class="nav">

		<div class="navitem">
			<p>HOME</p>
		</div>
		<div class="navitem">
			<p>CV</p>
		</div>
		<div class="navitem">
			<p>BLOG</p>
		</div>
		<div class="navitem">
			<p>HELP ME OUT</p>
		</div>

	</header>

	<img class='homepic' src='{% static "home/jpg/heckelen_round.jpg"%}' />
</div>

<p class='homeblurb'>
Lorem oaiwnd oainoinaow knaokdnsa okwaonk onakwdn osknfieb iaubei aufiundiawdn oaisno inaoiw ndosaknd lakndowd aonwjd naosjd noajwnd oajsnd lkajndwjnda.<br>
<br>
oaiwnd oasknd lkajwnoawdnaosdknaowdn aodin aoidn oaisnoawnd oajwndo asnoauefnoiaueonf ancsoiuabeifbeaif abniffrizaiow uaoudaosicmpa imcpaismcpoieajfpaidmp.<br>
<br>
Laowdnmaksnc oainainfaifn aincklanweaocn aic paoskcpaowkdpaoekpiik nmsak lnakdnwakdanskdlanwlan aind kalnfeinf apo jaüsock pa oknco aksmpc aksmpamsp akmewpakfnojan ofajnfeo akndsp kawpd lampfk k npakn.<br>
</p>
