{% extends 'base.html' %}

{% load static %}

{% block content %}
<img class='homepic' src='{% static "jpg/heckelen_round.jpg"%}' />

<div class='logos'>
	<a href='https://www.ilw.uni-stuttgart.de/en/institute/team/Heckelen-00002/' target='_blank'><img src='{% static "png/ustutt.png" %}' /></a>&nbsp;|&nbsp;
	<a href='https://www.linkedin.com/in/malte-heckelen-816a5a116' target='_blank'><img src='{% static "png/linkedin.png" %}' /></a> &nbsp;|&nbsp;
	<a href='https://github.com/malteheckelen' target='_blank'><img src='{% static "png/github.png" %}' /></a> &nbsp;|&nbsp;
	<a href='https://twitter.com/Boomcrashkapow' target='_blank'><img src='{% static "png/twitter.png" %}' /></a>
</div>

<p class='homeblurb'>
Lorem oaiwnd oainoinaow knaokdnsa okwaonk onakwdn osknfieb iaubei aufiundiawdn oaisno inaoiw ndosaknd lakndowd aonwjd naosjd noajwnd oajsnd lkajndwjnda.<br>
<br>
oaiwnd oasknd lkajwnoawdnaosdknaowdn aodin aoidn oaisnoawnd oajwndo asnoauefnoiaueonf ancsoiuabeifbeaif abniffrizaiow uaoudaosicmpa imcpaismcpoieajfpaidmp.<br>
<br>
Laowdnmaksnc oainainfaifn aincklanweaocn aic paoskcpaowkdpaoekpiik nmsak lnakdnwakdanskdlanwlan aind kalnfeinf apo jaüsock pa oknco aksmpc aksmpamsp akmewpakfnojan ofajnfeo akndsp kawpd lampfk k npakn.<br>
</p>
{% endblock %}
