{% extends 'base.html' %}

{% load static %}

{% block content %}
<img class='homepic' src='{% static "jpg/heckelen_round.jpg"%}' />

<div class='logos'>
	<a href='https://www.ilw.uni-stuttgart.de/en/institute/team/Heckelen-00002/' target='_blank'><img src='{% static "png/ustutt.png" %}' alt='University of Stuttgart' /></a>&nbsp;|&nbsp;
	<a href='https://www.linkedin.com/in/malte-heckelen-816a5a116' target='_blank'><img src='{% static "png/linkedin.png" %}' /></a> &nbsp;|&nbsp;
	<a href='https://github.com/malteheckelen' target='_blank'><img src='{% static "png/github.png" %}' /></a> &nbsp;|&nbsp;
	<a href='https://twitter.com/Boomcrashkapow' target='_blank'><img src='{% static "png/twitter.png" %}' /></a>
</div>

<p class='homeblurb'>
I am a researcher at the University of Stuttgart. Coming from a background in Sociology, I write my dissertation at the Department of Digital Humanities.<br>
<br>
I research Opinion Dynamics in my dissertation project and I am particularly interested in the social influence of social influence: if people use social heuristics when forming their opinions, e.g. believing celebrities or "experts" more, do they do it more or less in different social contexts? What does this mean at scale, in a highly networked environment? I analyse Twitter data and use decision theory and simulation to build theory.<br>
<br>
Access to Twitter data is a limited commodity, but with a little help it becomes a little less limited. If you can donate your Twitter access token (not your login) to my research "app", this would help me considerably. There are no disadvantages for you and my app cannot look at any of your personal data. Read all about it under <a href='/helpmeout'>Help Me Out</a>.<br>
<br>
If you're interested, check out my dissertation project under <a href='/research'>Research</a>. There, you will also find a side project about character networks in superhero comics.<br>
<br>
For questions, suggestions or exchange, please contact me on any of my social media or shoot me an email under <a href='mailto:malteheckelen@protonmail.com'>malteheckelen@protonmail.com</a>.<br>
</p>
{% endblock %}
