{% extends 'base.html' %}

{% load static %}
{% block content %}
<ul class='homeblurb'>
	<h2>Curriculum Vitae</h2>

	<li>05/2016 - now: University of Stuttgart, research associate and doctoral student at the department of Digital Humanities, Institute of Literary Studies
		<br>
		<ul>
			<br>
			<li>Dissertation topic: Communication norms and polarization
			<br>
		</ul>
		<br>
		<li>04/2013 - 09/2015: University of Bremen, student assistant at the Institute of Sociology, Department of Sociological Theory
		<br>
		<li>10/2012 - 09/2015: M.A. Sociology and Social Research, University of Bremen
		<br>
			<ul>
			<br>
				<li>Master thesis: Methodological perspectives of Topic Modeling for Framing Analysis
			<br>
			</ul>
			<br>
			<li>10/2008 - 09/2011: B.A. Sociology, University of Osnabrück
			<br>
				<ul>
				<br>
					<li>Bachelor thesis: Relationship of social movements to the old and new media  - the case of Anonymous
				</ul>
</ul>
{% endblock %}
