{% extends 'base.html' %}

{% load static %}
{% block content %}
<h2 class='centeredtext'>Curriculum Vitae</h2>

<div class='contact'>
	<h3>Contact</h3>
	<p><b>email:</b> <a href='mailto:malteheckelen@protonmail.com'>malteheckelen@protonmail.com</a></p>
	<p><b>work email:</b> <a href='mailto:malte.heckelen@ilw.uni-stuttgart.de'>malte.heckelen@ilw.uni-stuttgart.de</a></p>
	<div class='socials'>
		<div class='socials_inner'>
			<p><img src='{% static "png/ustutt.png" %}' /> <a href='https://www.ilw.uni-stuttgart.de/en/institute/team/Heckelen-00002/' target='_blank'>Stuttgart University</a></p>
			<p><img src='{% static "png/researchgate_logo.png" %}' alt='Researchgate' /> <a href='https://www.researchgate.net/profile/Malte_Heckelen' target='_blank'>Researchgate</a>
			<p><img src='{% static "png/linkedin.png" %}' /> <a href='https://www.linkedin.com/in/malte-heckelen-816a5a116' target='_blank'>LinkedIn</a></p>
		</div>
		<div class='socials_inner'>
			<p><img src='{% static "png/twitter.png" %}' /> <a href='https://twitter.com/Boomcrashkapow' target='_blank'>Twitter</a></p>
			<p><img src='{% static "png/github.png" %}' /> <a href='https://github.com/malteheckelen' target='_blank'>GitHub</a></p>
		</div>
	</div>
</div>
<p class='centeredtext'>
Jump to: <a href='/cv#cv_experience'>Experience</a>, <a href='/cv#cv_education'>Education</a>, <a href='/cv#cv_theses'>Theses</a>, <a href='/cv#cv_skills'>Skills</a>
</p>
<div class='box_blue_rim' id='cv_experience'>
	<h3>Experience</h3>
	<ul>
		<li><b>05/2016 - now</b>: University of Stuttgart
		<br>
		<ul>
			<br>
			<li>Research associate and doctoral student, Department of Digital Humanities
			<br>
			<br>
			<li>Teaching: DH methods introductions, project seminars (agent-based modeling, network analysis)<br>
			<br>
			<li><b>Dissertation topic</b>: <i>Communication Norms and Polarization </i> (supervisor: Prof. Dr. Gabriel Viehhauser; see <a href='/research'>Research</a>)
			<br>
		</ul>
		<br>
		<li><b>04/2013 - 09/2015</b>: University of Bremen
		<br>
		<ul>
			<br>
			<li>Student assistant at the Institute of Sociology, Department of Sociological Theory
			<br>
			<br>
			<li>Literature research, IT assistant, descriptive statistics for various purposes, database maintenance for journal <i>Soziologische Revue</i>
			<br>
		</ul>
		<br>
		<li><b>10/2011 - 04/2012</b>: moviepilot GmbH (Berlin)
		<br>
		<ul>
			<br>
			<li>Editorial intern
			<br>
			<br>
			<li>Writing of movie-related news, community interaction, organization and conception of editorial cycle leading up to the Academy Awards 2012
			<br>
		</ul>
		<br>
		<li><b>05/2008 - 07/2008</b>: artaxo AG (Hamburg)
		<br>
		<ul>
			<br>
			<li>Editorial intern
			<br>
			<br>
			<li>SEO-optimized text production for several online publications
			<br>
		</ul>
		<br>
	</ul>
</div>
<div class='box_blue_rim' id='cv_education'>
	<h3>Education</h3>
	<ul>
		<li><b>10/2012 - 09/2015</b>: University of Bremen
		<br>
		<ul>
			<br>
			<li>M.A. Sociology and Social Research, <i>1.7</i><br>
		</ul>
		<br>
		<li><b>10/2008 - 09/2011</b>: University of Osnabrück
		<br>
			<ul>
			<br>
				<li>B.A. Sociology, <i>1.6</i><br>
			</ul>
	</ul>
</div>
<div class='box_blue_rim' id='cv_theses'>
	<h3>Theses</h3>
	<ul>
		<li><b>2015</b>: University of Bremen<br>
		<br>
		<ul>
			<br>
			<li><b>Master's thesis</b>: <i>Manifest Text and Latent Frames - Conceptualization, Operationalization and Application of a Method of Framing Analysis between Social Science and Cognitive Linguistics</i><br>
			<br>
			<b>Supervisors</b>: Prof. Dr. Uwe Engel, Miriam Reußner, M.A.<br>
			<br>
			In Framing Analysis, what constitutes a "frame" is not thoroughly defined. Because of this, operationalization varies considerably and encompasses different concepts. Coding schemes should be able to capture more general notions while also capturing granularity appropriate for the research question. The thesis develops a coding scheme that is based on Frame Semantics: Events in the news are manually coded in the sense of a semantic role labeling and the vocabulary constituting the semantic roles is collected. A Structural Topic Model is then used to cluster word usage within these semantic roles and simultaneously relate cluster prevalence to metavariables. This provides results that are easily summarized at various levels of granularity.<br>
			<br>
			The coding scheme was applied to foxnews.com and nytimes.com reporting on the web collective Anonymous. The identified frames can be categorized broadly as "fun", "technical explanation" and "serious": Results show connotations of "fun" and "technical explanation" with certain kinds of web based activism (DDoS, social media hijacking), while other (hacks with customer data theft) are more narrowly associated with negative consequences for the hackers or their victims. Interestingly, no differences in the proportions of these different kinds of frames are evident between foxnews.com and nytimes.com. The devised method allowed for a relatively open coding scheme the results of which could be more narrowly quantified into subframes.<br>
		<br>
			<br>
		</ul>
		<li><b>2011</b>: University of Osnabrück<br>
		<br>
		<ul>
			<br>
			<li><b>Bachelor's thesis</b>: <i>'United as One, Divided By Zero' - The Relationship of Social Movements to the Old and New Media: The case of Anonymous</i><br>
			<br>
			<b>Supervisors</b>: apl. Prof. Carsten Klingemann, Dr. phil. Peter Nowotny<br>
			<br>
			The thesis analyses the Internet movement Anonymous and its relationship to the media in the form of a historical and theoretical contextualization. Anonymous shows all the markers of a social movement, extends these signifiers in the digital realm and manages to transform mostly passive competition for attention into active, decentralized self-performance. This allows the movement a multitude of causes and identities, which however at times considerably weakens the general frame of reference of the movement.<br>
		<br>
		</ul>
	</ul>
</div>
<div class='box_blue_rim' id='cv_skills'>
	<h3>Skills</h3>
	<ul>
		<br>
		<li><b>Quantitative Methods</b>:<br>
			<br>
			<ul>
				<li><i>Statistics</i>: EDA, (Generalized) Linear Models, Survival Analysis, Structural Equation Modeling<br>
				<br>
				<li><i>(Social) Network Analysis</i>: General operationalization and description, Exponential Random Graph Models<br>
				<br>
				<li><i>Machine Learning</i>: model-based (Mixtures) and model-free clustering (Hierarchical, kmeans), Topic Models (LSA, LDA, STM), PCA
				<br>
			</ul>
		<br>
		<li><b>Computer Skills</b>:<br>
			<br>
			<ul>
				<li><i>OS / utilities</i>: Windows, Linux, *nix utilities, Office (Microsoft/Open/Libre)<br>
				<br>
				<li><i>Graphics/Desktop Publishing</i>: LaTeX, Markdown / RMarkdown, Pandoc, JuPyTer Notebooks, Adobe Photoshop, Adobe InDesign, GIMP<br>
				<br>
				<li><i>Programming</i>: R, Python, shell scripting<br>
				<br>
				<li><i>Markup</i>: HTML, CSS, JSON, XML<br>
				<br>
				<li><i>Query Languages</i>: SQL, SPARQL, XQuery<br>
				<br>
				<li><i>DBMS</i>: MySQL, SQLite, PostgreSQL<br>
				<br>
				<li><i>Web Frameworks and other</i>: LAMP stack, Django<br>
				<br>
			</ul>
		<li><b>Languages</b>:<br>
			<br>
			<ul>
				<li><i>German (native)</i><br>
				<br>
				<li><i>English</i><br>
				<br>
				<li><i>French</i><br>
				<br>
			</ul>
		<br>
	</ul>
</div>
{% endblock %}
