/** Media Queries: Spezifizieren ein Ausgabemedium und ein Kriterium, das abgefragt wird; hier max-width, es könnte aber auch min-width oder etwas anderes sein **/
/** Praxis: Mehrere Media Queries in einer CSS-Datei, um möglichst viele Situationen abdecken zu können (Smartphone, Desktop-Browser, Widescreen u.a.) and (max-width: 767.98px) and **/

@media only screen and (orientation: portrait) {

	body {
		background-color:white;
		font-family:'Helvetica';
		font-size:10vw;

	}
	
	.top {
		flex-direction:row;
		justify-content:space-between;
	}

	.nav {

		flex-direction:column;
		width:100%;

	}

	.nav > a {
		width:100%;
	}

	.navitem {
		height:25%;
		padding:0px;
		margin:0px;

	}

	.titlename {
		display:inline;
		padding:1vw;
		padding-left:1vw;
		text-overflow:ellipsis;
	}

	.homeblurb {
		max-width:90%;
		min-width:90%;
	}


	body > .homepic {

		padding:0;
		width:90%;
		margin-top:3vh;
		margin-bottom:3vh;
		margin-left:auto;
		margin-right:auto;
		max-width:100%;
		max-height:100%;
		min-width:100px;
		min-height:100px;

	}
	
	body > .logos > a > img {
		height:10vw;
	}

	body > .logos {
		font-size:10vw;
	}

	body > .fields {
		display:flex;
		flex-direction:column;
		padding:0;
		padding-left:2vw;
	}

	.fields > p {
		padding:0;
		margin:0;
	}

	body > .box_blue_rim {
		max-width:90%;
	}

	body > .contact {
		max-width:90%;
	}

}

body {
	background-color:white;
	font-family:'Helvetica';
	font-size:3vh;

}

a {
	text-decoration:none;
	text-color:#66ffff;
}

.fields {
	display:flex;
	flex-direction:row;
	padding:0;
	padding-left:2vw;
}

.fields > p {
	padding-right:1vw;
}

.top {

	display:flex;
	flex-direction:column;

}

.titlename {

	font-size:8vh;
	padding-left:2vw;
	margin-bottom:0;

}

.homepic {

	display:block;
	padding:2vh;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	max-width:30%;
	max-height:30%;
	min-width:40px;
	min-height:40px;

}

.homeblurb {
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:60%;
}

.nav {

	background-color:white;
	padding-bottom:1vh;
	width:100%;
	display:flex;
}

.navitem {

	background-color:#01333898;
	margin:5px;
	padding:10px;
	font-weight:bold;
	font-size:3vh;
	width:25%;
	color:white;
	text-align:center;
	text-decoration:none;

}

.logos {
	display:flex;
	justify-content:center;
	font-size:2vw;
	vertical-align:middle;
	color:#808080;
}	

.logos > a > img {
	height:3vw;
}

.header_logos {
	padding-left:2vw;
	padding-bottom:1vw;
	display:flex;
	font-size:2vw;
	vertical-align:middle;
	color:#808080;
}	

.header_logos > a > img {
	height:3vw;
}

.footer {
	background-color:#4d4d4d;
	font-size:2vh;
	color:white;
	margin-top:5vh;
	padding:2vh;
	width:100vw;
}

.footer > a {
	text-decoration:none;
	color:white;
}

#donate_button {
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:40%;
}

.contact {
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:60%;
}

.contact > p {
	vertical-align:middle;
	padding-bottom:0;
}

.contact > .socials > .socials_inner > p > img {
	height:1.5em;
	vertical-align:middle;
}

.socials {
	display:flex;
	flex-direction:row;
}

.contact > .socials > .socials_inner {
       padding-right:20%;
       min-width:50%;
}

.box_blue_rim {
	border:1px solid #66ffff;
	padding:2%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:60%;
	margin-bottom:15px;
}

.projects {
	display:flex;
	flex-direction:row;
}

.float_right {
	width:50%;
	float:right;
	padding:3%;
}

.float_left {
	max-width:50%;
	float:left;
	padding:3%;
}
