{% extends 'base.html' %}

{% load static %}

{% block content %}
{% load helpmeout_extras %}
<h3 class='centeredtext'>Hilf mir, Daten für die Wissenschaft zu sammeln!</h3>
<p class='centeredtext'><a href='/helpmeout'>English version</a></p>
<div class='centeredtext'>Ich bin ein Sozialwissenschaftler und arbeite in der Abteilung Digital Humanities an der Universität Stuttgart. Im Rahmen meiner Dissertation sammle ich auch Twitterdaten über die offizielle Twitter API ("Advanced Programming Interface"; Programmierschnittstelle). Solche APIs begrenzen Entwickler und Forscher in der Menge der Daten, die sie in einem Zeitintervall sammeln können. In 15 Minuten etwa sind das je nach Anfrageart 15 Anfragen pro 15 Minuten. Das bedeutet <i>eine Anfrage pro Minute</i>. Es ist nicht unmöglich, seine Datensammlung damit abzuschließen, aber es dauert <i>sehr viel länger</i>. Wochen und Monate, statt Tage.<br>
	<br>
	Daten sammelt man von Twitter, indem man eine "App" dort registriert. In meinem Fall ist die App nur ein kleines Programm, das ich für die Interaktion mit der API geschrieben habe. Je mehr Nutzer meine App hat, desto lockerer werden die Anfragebegrenzungen. Das kann man sich wie eine Legitimation in den Augen Twitters vorstellen: Je mehr Nutzer ich habe, desto legitimer erscheint meine App und desto legitimer ist ein höheres Anfragevolumen.<br>
	<br>
	Wenn du einen Twitteraccount hast und helfen willst, klicke auf den untenstehenden Button. Dann wirst du auf Twitter umgeleitet und dort kannst du meiner App ein Zugriffstoken spenden. Twitter wird dann auch explizit auflisten, auf was meine App Zugriff hat (und was nicht).<br>
	<br>
	<a href='{% signinurl %}'>
		<img class='donate_button' src='{% static "png/donatetoken.png" %}' />
	</a>
	<br>
	<ul style='color:green' class='centeredtext'>
		<br>
		<li>Meine Forschungsapp kann nur ohnehin öffentliche Informationen auslesen (und nicht einmal das im Fall geschützter Accounts)<br>
		<br>
		<li>Solche Spenden sind nur auf Twitter selbst möglich, der Vorgang ist also autorisiert und sicher<br>
		<br>
		<li>Nur Zusammenfassungen und anonymisierte Informationen werden veröffentlicht (Ausnahme: verifizierte Accounts von Prominenten). Die Daten selbst werden niemals veröffentlicht!<br>
		<br>
		<li>Deine Zustimmung kannst du jederzeit unter "Einstellungen > Apps und Geräte" widerrufen<br>
		<br>
	</ul>
	<h3>Danke für deine Spende!</h3>
</div>
{% endblock %}
