{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class='centeredtext'>
<h3>Blog</h3>
<p><i>Here you can find output from my research, tutorials (as soon as I made some) as well as more general things that interest me.</i></p>
</div>
<p class='centeredtext'>
    {% for post in posts %}
	<a class='blogpost' href='{% url "detail" pk=post.pk %}'>
        <div class='box_blue_rim'>
        <h3>{{ post.title}}</h3>
        <i>{{ post.published_date }}</i>
        <p>{{ post.teaser }}</p>
	</div>
        </a>
    {% endfor %}	
{% endblock content %}
