{% extends 'base.html' %}

{% load static %}
{% block content %}
<p class='centeredtext'>
Jump to: <br>
<a href='/research#comics'>Character Networks in Superhero Comics</a>
<a href='/research#comm_norms'>Communication Norms and Polarization</a><br>
<div class='box_blue_rim' id='comics'>
	<h3>Professional and Character Networks in Superhero Comics</h3>
	<br>
	<a href='{% static "jpg/ult_spider.jpeg" %}' target='_blank'><img src='{% static "jpg/ult_spider.jpeg" %}' class='float_right' /></a>
	<b>Outline</b>: Superhero comics are complex! Though not always true for the individual stories, it is certainly true when seen as an extremely long-form narrative. Interests of writers, artists, fans, editors and especially publishers and media conglomerates diverge. They lead to storylines through complex interactions, subject to economic feedback and reactions to the competition. The dissertation project focuses on the evolution of the social networks of professionals as well as characters and their interplay. Though arguably true for any work of art, superhero comics especially are a decidedly social product. This more sociological view is seldomly expressed in superhero comics research and could potentially augment existing work on serial literature.<br>
	<br>
        <b>Theory</b>: Aside from the existing, more semiotically focused literature, I use theories from Cultural Sociology. Pierry Bourdieus notion of Field is productive for expressing diverging interests and resources in the social production of culture, as well as the theories and approaches of Richard A. Peterson and Howard S. Becker. These social theories are well-suited for description and hypothesis building for this setting and view on the phenomenon, however, they have seldomly been used in the field, as noticed by <a href='https://www.tandfonline.com/doi/abs/10.1080/21504857.2010.528638' target='_blank'>Brienza (2010)</a>.<br>
        <br>
	<b>Methods and Data</b>: I use data gathered from the Marvel and DC wikia pages, comprising information about characters, character appearances and creative teams for comics issues from 1960 until 2015. I merge this data with data from other sources (e.g. Grand Comics Database) to make up for possible biases. The scope of inference possible with this data is limited, due to coverage biases as well as the missing content itself, as it is apparent that sales data and level of craft should be powerful predictors for relations between characters and between creatives. Because of this, I am always on the lookout for more potential data sources.<br>
        <br>
        Characters and creatives are linked through comics issues they appear in / worked on together for a defined period of time. I use methods from Social Network Analysis (SNA) to describe and, if possible, model the evolution of the central moments of these dynamic networks.<br>
	<br>
	<b>Desired Contribution</b>: Aside from the potential contribution to the academic knowledge on superhero comics, I hope to shed light on those creatives and configurations that have possibly been ignored. The social relations among creatives are just as important as their level of craft: an "unremarkable" colorist can nonetheless be the bridge enabling a lot of fruitful collaborations, just by sitting in a lot of meeting rooms and doing work here and there.<br>
	<br>
	<br>
</div>
<div class='box_blue_rim' id='comm_norms'>
	<h3>Communication Norms and Polarization</h3>
	<br>
	<a href='{% static "blog/weekontwitter/merkel_hashtag_network.png" %}' target='_blank'><img src='{% static "blog/weekontwitter/merkel_hashtag_network.png" %}'  class='float_left'/></a>
	<b>Outline</b>: The side project focuses on social communication norms and the influence they might have on polarization dynamics. I use agent-based modeling for a very broad-strokes thought experiment and I analyze nonrepresentative Twitter data.<br>
	<br>
</div>
{% endblock %}
