{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<h1 class='titlename'>Malte Heckelen</h1>
<div class='hometop'>
	<header class='nav'>

		<a href='/' class="navitem">
			<p>HOME</p>
		</a>
		<a href='/cv' class="navitem">
			<p>CV</p>
		</a>
		<a href='/research' class="navitem">
			<p>RESEARCH</p>
		</a>
		<a href='/helpmeout' class="navitem">
			<p>HELP ME OUT</p>
		</a>

	</header>
</div>

{% block content %}{% endblock %}

<div class='footer'>
	&#169; Malte Heckelen<br>
	<a href=''>Impressum</a>
</div>
